<% drinks.each do |drink| %>

<div class="col-xs-6 col-md-4">
  <!-- NOTE: Drink names apepar to already all be titleized. However putting this here to ensure just-in-case. -->
  <h4 class="drink"><%= drink[:name].titleize %></h4>

  <div class="drink-info">
    <% if drink[:image] %>
    <img src="<%= drink[:image] %>" alt="<%= drink[:name] %>">
    <% end %>

    <h3>Ingredients</h3>
    <ul>
      <% drink.recipes.each do |recipe| %>
        <li><%= recipe.ingredient.name %></li>
      <% end %>
    </ul>

    <h4>Full recipe</h4>
  </div>
</div>

<% end %>

<a id="again" class="button text-uppercase" href="#">I Want To Do It Again! Start Over!</a>
