<h2>Intelligent Design</h2>

<h3>Your Ingredients</h3>

<% @ingredients.in_groups_of(3).each do |ing_array| %>
    <div class="row">
      <% ing_array.compact.each do |ing| %>
          <div class="col-xs-6 col-sm-4">
            <input type="checkbox" value="<%= ing.id %>" id="ingredient_<%= ing.id %>" <%= 'checked' if saved_ingredient? ing.id %> />
            <%= label_tag("ingredient_#{ing.id}", ing.name.titleize) %>
          </div>
      <% end %>
    </div>
<% end %>

<a id="let-there-be-drinks" class="button text-uppercase" href="#">Let There Be Drinks!</a>

<div id="drinks"></div>
