<h2>Intelligent Design</h2>

<h3>Your Ingredients</h3>

<table>
  <% @ingredients.each do |ing_array| %>
      <tr>
        <% ing_array.each do |ing| %>
            <td style="padding:5px"><input type="checkbox" value="<%= ing.id %>"/> <%= ing.name.titleize %></td>
        <% end %>
      </tr>
  <% end %>
</table>
