<div class="container">
  <!-- Columns are always 50% wide, on mobile and desktop -->
  <div class="row">
    <div class="col-xs-6">
      <p class="text-center">
        <a href="#">Evolution</a>
      </p>
    </div>

    <div class="col-xs-6">
      <p class="text-center">
        <a href="#">Intelligent Design</a>
      </p>
    </div>
  </div>
</div>
