<!-- Columns are always 50% wide, on mobile and desktop -->
<div class="row">
  <div class="col-xs-6">
    <p class="text-center">
      <a href="evolution">Evolution</a>
    </p>
  </div>

  <div class="col-xs-6">
    <p class="text-center">
      <a href="godmode">Intelligent Design</a>
    </p>
  </div>
</div>
