// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, footer {
  background: $gray-darker;
}

header {
  border-bottom: 1px solid $gray-lighter;
  margin: 0 1em 1em;
}

footer {
  padding: 1em;

  p, a {
    color: white;
  }
}

.title a {
  font-variant: small-caps;
  text-decoration: none;
}
