// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, footer {
  background: $gray-darker;
}

header {
  border-bottom: 1px solid $gray-lighter;
  margin: 0 1em 1em;
}

footer {
  padding: 1em;

  p, a {
    color: white;
  }

  a:hover {
    color: $gray-lighter;
  }
}

.title a {
  font-variant: small-caps;
  text-decoration: none;
}

.button {
  background: #d12d1b;
  color: white;
  display: inline-block;
  font-size: 0.75em;
  letter-spacing: 2px;
  line-height: 2em;
  margin: 10px 15px;
  padding: 10px 20px;
  text-decoration: none;

  &:hover {
    color: white;
    text-decoration: underline;
  }
}

#evolution {
   background-image: image-url('evolution-greyscale.png');
   display: block;
   height: 888px;
   width: 573px;
   position: absolute;
   top: 0px;
   left: 0px;

  &:hover {
    background-image: image-url("evolution-color.png");
  }
}

#intelligent-design {
   background-image: image-url("intelligent-design-greyscale.png");
   display: block;
   height: 888px;
   width: 573px;
   position: absolute;
   top: 0px;
   left: 573px;

   &:hover {
     background-image: image-url("intelligent-design-color.png");
  }
}
