// Place all the styles related to the IntelligentDesign controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h4 {
  cursor: pointer;
}

.drink-info {
  background: $gray-lighter;
  display: none;
  padding: 1em 2em;
}
